<div id="Contenedor">
    <span class="headerCambiarContrasena">
        <h1>Cambiar contraseña</h1>
    </span>

    <div class="cambiarContrasenaContenido">
        <form class="cambiarContrasenaForm">
            <mat-form-field class="full-width">
              <mat-label>Introduce tu email</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          
            <mat-form-field class="full-width">
                <mat-label>Introduce la contraseña nueva</mat-label>
                <input matInput placeholder="">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Repite la contraseña nueva</mat-label>
                <input matInput placeholder="">
            </mat-form-field>
          </form>

          <button mat-raised-button color="accent" class="cambiaContrasena">
            Cambiar contraseña
          </button>
    </div>
</div>
